<nav class="sidebar">
    <!-- Dashboard -->
    <a routerLink="/admin" routerLinkActive="active">
      <span class="material-icons">dashboard</span>
      <span>Dashboard</span>
    </a>
  
    <!-- VIAJES -->
    <a routerLink="/admin/viajes/listar" routerLinkActive="active">
      <span class="material-icons">directions_bus</span>
      <span>Viajes</span>
    </a>
  
    <!-- BOLETOS -->
    <a routerLink="/admin/boletos/listar" routerLinkActive="active">
      <span class="material-icons">confirmation_number</span>
      <span>Boletos</span>
    </a>
  
    <!-- PASAJEROS -->
    <a routerLink="/admin/pasajeros/listar" routerLinkActive="active">
      <span class="material-icons">groups</span>
      <span>Pasajeros</span>
    </a>
  
  </nav>
  